<div id="breadcrumb-newcar">
  <nav>
    <ol>
      <li class="waiting-approval"><i class="icon ion-md-time"></i></li>
      <li>Payment</li>
      <li>Review</li>
      <li class="active">Records</li>
      <li class="active">Gallery</li>
      <li class="active">Information</li>
      <li class="waiting-approval active"><i class="icon ion-md-time"></i></li>
      <li class="active">Basic</li>
    </ol>
  </nav>
</div>

<section class="pt-5">
  <div class="container-add-listing">
    <h1 class="title-listing">Inspection</h1>
    <p class="text-inicial-listing pt-3">
      Um dolor sit amet, consectetur adipiscing elit. Phasellus <br />
      dapibus mi id ante ultrices, nec hendrerit
    </p>
    <div class="box-area-newcar mt-5 p-4">
      
      <div class="uploadimages form-row dropzone">
        <img src="assets/images/icon-inspection.jpg" alt="">
        <p>Drag and drop files here</p>
        <p>OR</p>
        <button class="btn-upload-photo" type="button">Select Files</button> 
      </div>
     
          <hr class="mt-5">
          <div class="form-row">
            <div class="col-6">
                Um dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mi id ante ultrices, nec hendrerit
            </div>
            <div class="col-6">
              <button class="btn-newcar-style float-right">
                <i class="fas fa-cog fa-spin"></i> Skip
                <i class="ml-5 float-right icon ion-md-arrow-forward"></i>
              </button>
            </div>
          </div>
    </div>
  </div>
</section>
