<div id="breadcrumb-newcar">
  <nav>
    <ol>
      <li class="waiting-approval">
        <i class="icon ion-md-time"></i>
      </li>
      <li>Payment</li>
      <li>Review</li>
      <li>Records</li>
      <li>Gallery</li>
      <li>Information</li>
      <li class="waiting-approval active">
        <i class="icon ion-md-time"></i>
      </li>
      <li class="active">Basic</li>
    </ol>
  </nav>
</div>
<section class="pt-5">
  <div class="container-add-listing">
    <div class="box-area-newcar area-waitingapproval mt-5 p-5">
      <img src="assets/images/icon-waiting-approval.png" alt="" />
      <h1 class="title-listing">Waiting for approval</h1>
      <p class="text-inicial-listing pt-3">
        We are analysing your listing, this process takes in average 2 days. In the meanwhile, you can gathering the following documents
        for the next steps.
      </p>

      <div class="area-waitingapproval-content">
        <h2>Information</h2>
        <ul class="d-flex flex-wrap">
          <li>Vehicle color codes</li>
          <li>Fuel type</li>
          <li>Number of cylinders</li>
          <li>Interior material</li>
          <li>Vehicle color codes</li>
          <li>Fuel type</li>
          <li>Number of cylinders</li>
          <li>Interior material</li>
          <li>Fuel type</li>
          <li>Number of cylinders</li>
          <li>Interior material</li>
        </ul>

        <h2>Gallery</h2>
        <p>We will need 30 photos for each of the following categories</p>
        <ul class="d-flex flex-wrap">
          <li>Exterior</li>
          <li>Underside</li>
          <li>Engine</li>
          <li>Imperfections</li>
        </ul>
      </div>

      <hr />
      <div class="row">
        <div class="col-12">
          <!-- <a (click)="goBack()" class="link-back-style float-left">Back to Previous Step</a> -->
          <a routerLink="/new-car/your-listing">
            <button class="btn-newcar-style float-right">
              Go to My Listings
              <i class="ml-5 float-right icon ion-md-arrow-forward"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>