<div id="breadcrumb-newcar">
  <nav>
    <ol>
      <li class="waiting-approval active">
        <i class="icon ion-md-time"></i>
      </li>
      <li class="active">Payment</li>
      <li class="active">Review</li>
      <li class="active">Records</li>
      <li class="active">Gallery</li>
      <li class="active">Information</li>
      <li class="waiting-approval active">
        <i class="icon ion-md-time"></i>
      </li>
      <li class="active">Basic</li>
    </ol>
  </nav>
</div>
<section class="pt-5">
  <div class="container-add-listing">
    <div class="box-area-newcar area-waitingapproval mt-5 p-5">
      <img src="assets/images/icon-waiting-approval.png" alt="" />
      <h1 class="title-listing">Waiting for approval</h1>
      <p class="text-inicial-listing pt-3">
        We are analysing your listing, this process takes in average 2 days.
      </p>

      <div class="area-waitingapproval-content">
        <h2>Wait for more information</h2>
      </div>

      <hr />
      <div class="row">
        <div class="col-12">
          <a routerLink="/new-car/your-listing">
            <button class="btn-newcar-style float-right">
              Go to My Listings
              <i class="ml-5 float-right icon ion-md-arrow-forward"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>