<section class="pt-5">
  <div class="container" *ngIf="!isLoading && user != undefined">
    <div class="admin-content">
      <div class="row">
        <div class="col-md-4">
          <div class="admin-area admin-profile-box mr-2">
            <div class="profile-info p-4">
              <input type="file" accept="image/*" #inputAvatar style="display:none" (change)="changeProfilePic(inputAvatar.files)">
              <img [src]="getUserImage(user.image)" *ngIf="user.id == currentUser.id" (click)="inputAvatar.click()" alt="" class="profile-info-photo"
                ngbTooltip="Click to change profile picture" />
              <img [src]="getUserImage(user.image)" *ngIf="user.id != currentUser.id" alt="" class="profile-info-photo" />
              <h3>{{ user.name }}</h3>
              <ul class="user-rate-group">
                <li [ngClass]="{checked: user.rating >= 1}"></li>
                <li [ngClass]="{checked: user.rating >= 2}"></li>
                <li [ngClass]="{checked: user.rating >= 3}"></li>
                <li [ngClass]="{checked: user.rating >= 4}"></li>
                <li [ngClass]="{checked: user.rating == 5}"></li>
              </ul>
            </div>
            <div class="profile-about p-4" *ngIf="user.about">
              <h3 class="activity-title">About</h3>
              <p>{{ user.about }}</p>
            </div>
            <div class="profile-configs p-4" *ngIf="user.id == currentUser.id">
              <h3 class="activity-title">Your Account</h3>
              <a routerLink="/user-edit">
                <img class="profile-icon-configs" src="assets/images/admin-editprofile.png" alt="" /> Edit profile</a>
              <a routerLink="/user-settings">
                <img class="profile-icon-configs" src="assets/images/admin-settings.png" alt="" /> Settings</a>
              <a routerLink="/user-payment">
                <img class="profile-icon-configs" src="assets/images/admin-payment.png" alt="" /> Payment options</a>
            </div>
            <div class="profile-public-actions" *ngIf="user.id != currentUser.id">
              <button (click)="openModalcontact(modalContactOwner)" class="button-style m-3">Contact Owner</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="admin-area admin-profile-box ml-md-2">
            <ul class="nav mb-3 nav-admin-user" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="admin-user-data-tab" data-toggle="pill" (click)="changeTab('adminuserReviews')" [class.active]="currentTab == 'adminuserReviews'"
                  role="tab" aria-controls="admin-user-data" aria-selected="true">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-following-tab" data-toggle="pill" (click)="changeTab('following')" [class.active]="currentTab == 'following'"
                  href="" role="tab" aria-controls="pills-following" aria-selected="false">Following</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" (click)="changeTab('adminusercars')" [class.active]="currentTab == 'adminusercars'"
                  href="" role="tab" aria-controls="pills-profile" aria-selected="false">Cars bought/sold</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" (click)="changeTab('adminuserBid')" [class.active]="currentTab == 'adminuserBid'"
                  href="" role="tab" aria-controls="pills-contact" aria-selected="false">Bid History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" (click)="changeTab('adminuserComments')" [class.active]="currentTab == 'adminuserComments'"
                  href="" role="tab" aria-controls="pills-contact" aria-selected="false">Comments</a>
              </li>
            </ul>
            <div class="tab-content">
              <!-- Reviews -->
              <div class="tab-pane fade show" [class.active]="currentTab == 'adminuserReviews'" id="adminuserReviews" role="tabpanel" aria-labelledby="admin-user-data-tab">
                <div class="profile-list-reviews">
                  <h5 class="profile-tabs-title">Reviews ({{ ratings.length }})</h5>

                  <p *ngIf="ratings.length == 0">No information.</p>
                  <ng-container *ngIf="ratings.length > 0 && !isLoading">
                    <div class="profile-reviews-item" *ngFor="let item of ratings">
                      <div class="profile-reviews-item-header d-flex mb-3" *ngIf="item.from != null">
                        <a routerLink="/user-profile/{{item.from.id}}" (click)="initBidDetails()">
                          <img [src]="getUserImage(item.from.image)" alt="" class="profiler-user-thumb" />
                        </a>
                        <div class="reviews-item-info ml-4">
                          <a routerLink="/user-profile/{{item.from.id}}" (click)="initBidDetails()">
                            <h4>{{item.from.name}}</h4>
                          </a>
                          <ul class="user-rate-group">
                            <li [ngClass]="{checked: item.stars >= 1}"></li>
                            <li [ngClass]="{checked: item.stars >= 2}"></li>
                            <li [ngClass]="{checked: item.stars >= 3}"></li>
                            <li [ngClass]="{checked: item.stars >= 4}"></li>
                            <li [ngClass]="{checked: item.stars == 5}"></li>
                          </ul>
                          <span class="reviews-item-info-date">
                            {{ item?.timestamp?._seconds | amFromUnix | amLocale: 'en' | amDateFormat: 'MMMM Do YYYY, h:mm:ss a' }}
                          </span>
                        </div>
                      </div>
                      <p [innerHTML]="item.comment">
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- CARS -->
              <div class="tab-pane fade show" [class.active]="currentTab == 'adminusercars'" id="adminusercars" role="tabpanel" aria-labelledby="pills-profile-tab">
                <p class="pl-4" *ngIf="listings.bought.length > 0">No information.</p>
                <div class="car-list-group">
                  <ng-container *ngIf="listings.bought.length > 0">
                    <h3>Bought ({{listings.bought.length}})</h3>
                    <!-- Car -->

                    <div class="d-md-flex car-list" *ngFor="let item of listings.bought;">
                      <div>
                        <img [src]="makeTrustedImage(item, item.cover)" alt="" class="img-fluid" />
                      </div>
                      <div class="">
                        <div class="list-car-data">
                          <p>
                            <span>{{item.address.city}}, {{item.address.state}}, {{item.address.state}}</span>
                          </p>
                          <h3>{{item.year}} {{item.model}}</h3>
                        </div>
                        <div class="d-flex">
                          <div class="list-car-currentbid">
                            <span>Price sold</span>
                            <p class="box-car-item-price">{{item.reservePrice | currency}}</p>
                          </div>

                          <div class="list-car-bids ml-5">
                            <span>Bids</span>
                            <p class="box-car-item-qtd-bids">{{item.bidCount}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="listings.sold.length > 0">
                    <h5 class="profile-tabs-title">Sold ({{listings.sold.length}})</h5>
                    <!-- Car -->

                    <div class="d-md-flex car-list" *ngFor="let item of listings.sold;">
                      <div>
                        <a routerLink="/bid-detail/{{item.id}}">
                          <img [src]="makeTrustedImage(item, item.cover)" alt="" class="img-fluid" />
                        </a>
                      </div>
                      <div class="">
                        <div class="list-car-data">
                          <span>{{item.address.city}}, {{item.address.state}}, {{item.address.state}}</span>
                          <a routerLink="/bid-detail/{{item.id}}">
                            <h3>{{item.year}} {{item.brand}} {{item.model}}</h3>
                          </a>
                        </div>
                        <div class="d-flex">
                          <div class="list-car-currentbid">
                            <span class="titleinfobids">Price sold</span>
                            <p class="box-car-item-price">{{ (item.price ? item.price : 0) | currency }}</p>
                          </div>

                          <div class="list-car-bids ml-5">
                            <span class="titleinfobids">Bids</span>
                            <p class="box-car-item-qtd-bids">{{item.bidCount}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>

              </div>

              <!-- Following -->
              <div class="tab-pane fade show" [class.active]="currentTab == 'following'" id="following" role="tabpanel" aria-labelledby="pills-profile-tab">
                <p class="pl-4" *ngIf="following.length == 0">No information.</p>
                <div class="car-list-group">
                  <ng-container *ngIf="following.length > 0">
                    <h3>Following ({{following.length}})</h3>
                    <!-- Car -->

                    <div class="d-md-flex car-list" *ngFor="let item of following; let i = index">
                      <div class="following-thumb-group">
                        <button class="btn-like actived" *ngIf="user.id == currentUser.id" (click)="toggleFollowing(item.id, i)" id="btnLike{{i}}"></button>
                        <img [src]="makeTrustedImage(item, item.cover)" alt="" class="img-fluid" />
                      </div>
                      <div class="" (click)="openCar(item.id)">
                        <div class="list-car-data">
                          <p>
                            <span>{{item.address.city}}, {{item.address.state}}, {{item.address.state}}</span>
                          </p>
                          <h3>{{item.year}} {{item.model}}</h3>
                        </div>
                        <div class="d-flex">
                          <div class="list-car-currentbid">
                            <span>Current bid</span>
                            <p class="box-car-item-price">{{item.price | currency}}</p>
                          </div>

                          <div class="list-car-bids ml-5">
                            <span>Bids</span>
                            <p class="box-car-item-qtd-bids">{{item.bidCount}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>

              </div>
              <!-- Reviews -->
              <div class="tab-pane fade show" [class.active]="currentTab == 'adminuserBid'" id="adminuserBid" role="tabpanel" aria-labelledby="pills-contact-tab">



                <div class="admin-comments-list comments-list pl-4 pr-4" *ngIf="bids.length > 0">

                  <h5 class="profile-tabs-title">Bid History ({{ bids.length }})</h5>

                  <div class="comments-list-item" *ngFor="let item of bids">
                    <div class="bidhistory-list-user">
                      <div>
                        <p class="admin-comented-user">
                          Made a bid on
                          <a routerLink="/bid-detail/{{item.listing.id}}">
                            {{ item.listing.year }} {{ item.listing.brand }} {{ item.listing.model }}
                          </a>
                        </p>
                        <p>
                          {{item.user.name}} made a
                          <b>{{ item.finalPrice | currency }}</b> bid.
                        </p>
                        <p class="bid-date-user">
                          {{ item?.timestamp?._seconds | amFromUnix | amLocale: 'en' | amDateFormat: 'MMMM Do YYYY, h:mm:ss a' }}
                        </p>
                      </div>
                    </div>

                    <div class="comments-list-actions">
                      <!-- <a href="#" class="admin-deletecomment"><i class="icon ion-md-trash"></i> Delete Comment</a> -->
                    </div>
                  </div>
                </div>
                <!-- end bids -->
                <p class="pl-4" *ngIf="bids.length == 0">No information.</p>
              </div>

              <!-- Comments -->
              <div *ngIf="comments" class="tab-pane fade show" [class.active]="currentTab == 'adminuserComments'" id="adminuserComments"
                role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="admin-comments-list comments-list pl-4 pr-4">
                  <h5 class="profile-tabs-title">Comments ({{ comments.length }})</h5>

                  <div class="comments-list-item" *ngFor="let comment of comments">
                    <div class="comments-list-user">
                      <div>
                        <p class="admin-comented-user">
                          Commented on
                          <a routerLink="/bid-detail/{{comment.listing.id}}">{{ comment.listing.year }} {{ comment.listing.model }}</a>
                        </p>
                        <p class="bid-date-user">
                          {{ comment?.timestamp?._seconds | amFromUnix | amLocale: 'en' | amDateFormat: 'MMMM Do YYYY, h:mm:ss a' }}
                        </p>
                      </div>
                    </div>
                    <div class="comments-list-content">
                      <p>{{ comment.comment }}</p>
                    </div>
                    <div class="comments-list-actions">
                      <!-- <a href="#" class="admin-deletecomment"><i class="icon ion-md-trash"></i> Delete Comment</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT -->
<ng-template #modalContactOwner let-modal>
  <div id="modalContactOwner">

    <div class="modal-body">
      <button type="button" class="close" (click)="modal.dismiss()" style="right: 25px;top: 25px;z-index: 2;position: absolute;">
        <i class="icon ion-md-close"></i>
      </button>
      <h3>Contact Owner</h3>
      <form name="frmContact" #frmContact (ngSubmit)="sendMessage(modalSuccess)">
        <label>Message</label>
        <textarea name="message" #message [(ngModel)]="frmContactData.message" required placeholder="Type here"></textarea>

        <div class="d-flex">
          <button type="button" class="close contact-cancel" (click)="modal.dismiss()">Cancel</button>
          <button class="modal-action-button modal-btn" type="submit">Send via email</button>
        </div>
      </form>
    </div>

  </div>
</ng-template>


<ng-template #modalSuccess let-modal>
  <div id="modalSuccess">

    <div class="modal-header">
      <button type="button" class="close" (click)="modal.dismiss()">
        <i class="icon ion-md-close"></i>
      </button>
    </div>

    <div class="modal-body" style="padding:0 30px 30px 30px;">
      <img src="assets/images/registersucessfully-icon.jpg" alt="" style="width:120px;" />
      <h5 class="modal-title" id="modalSignUpSuccessLabel">Succesfully! Thank you for your request!</h5>

      <button class="modal-action-button modal-btn" (click)="modal.dismiss()">Close</button>
    </div>

  </div>
</ng-template>