<section>
  <div class="container pt-4 ">
    <div class="search-results">
      <div class="row">
        <div class="col-md-12 d-flex flex-wrap">
          <!-- Car -->
          <div class="box-car-item">
            <button class="btn-like"></button>
            <div class="box-car-slides"><img src="assets/images/carslide.png" alt="" /></div>
            <div class="list-area-pregressbar"><div class="progressbar" style="width: 16.2%;"></div></div>
            <div class="box-car-content">
              <div class="box-car-data">
                <p>
                  <span><strong>Time Left:</strong> <span>3HR. 7MIN</span></span>
                </p>
                <h3>1966 Shelby 427 Cobra</h3>
                <p><span>Atlanta - USA</span></p>
              </div>
              <div class="box-car-price">
                <span>Current bid</span>
                <p class="box-car-item-price">$65,00</p>
              </div>
            </div>
          </div>

          <!-- Car -->
          <div class="box-car-item">
            <button class="btn-like"></button>
            <div class="box-car-slides"><img src="assets/images/carslide.png" alt="" /></div>
            <div class="list-area-pregressbar"><div class="progressbar" style="width: 16.2%;"></div></div>
            <div class="box-car-content">
              <div class="box-car-data">
                <p>
                  <span><strong>Time Left:</strong> <span>3HR. 7MIN</span></span>
                </p>
                <h3>1966 Shelby 427 Cobra</h3>
                <p><span>Atlanta - USA</span></p>
              </div>
              <div class="box-car-price">
                <span>Current bid</span>
                <p class="box-car-item-price">$65,00</p>
              </div>
            </div>
          </div>

          <!-- Car -->
          <div class="box-car-item">
            <button class="btn-like"></button>
            <div class="box-car-slides"><img src="assets/images/carslide.png" alt="" /></div>
            <div class="list-area-pregressbar"><div class="progressbar" style="width: 16.2%;"></div></div>
            <div class="box-car-content">
              <div class="box-car-data">
                <p>
                  <span><strong>Time Left:</strong> <span>3HR. 7MIN</span></span>
                </p>
                <h3>1966 Shelby 427 Cobra</h3>
                <p><span>Atlanta - USA</span></p>
              </div>
              <div class="box-car-price">
                <span>Current bid</span>
                <p class="box-car-item-price">$65,00</p>
              </div>
            </div>
          </div>

          <!-- Car -->
          <div class="box-car-item">
            <button class="btn-like"></button>
            <div class="box-car-slides"><img src="assets/images/carslide.png" alt="" /></div>
            <div class="list-area-pregressbar"><div class="progressbar" style="width: 16.2%;"></div></div>
            <div class="box-car-content">
              <div class="box-car-data">
                <p>
                  <span><strong>Time Left:</strong> <span>3HR. 7MIN</span></span>
                </p>
                <h3>1966 Shelby 427 Cobra</h3>
                <p><span>Atlanta - USA</span></p>
              </div>
              <div class="box-car-price">
                <span>Current bid</span>
                <p class="box-car-item-price">$65,00</p>
              </div>
            </div>
          </div>

          <!-- Car -->
          <div class="box-car-item">
            <button class="btn-like"></button>
            <div class="box-car-slides"><img src="assets/images/carslide.png" alt="" /></div>
            <div class="list-area-pregressbar"><div class="progressbar" style="width: 16.2%;"></div></div>
            <div class="box-car-content">
              <div class="box-car-data">
                <p>
                  <span><strong>Time Left:</strong> <span>3HR. 7MIN</span></span>
                </p>
                <h3>1966 Shelby 427 Cobra</h3>
                <p><span>Atlanta - USA</span></p>
              </div>
              <div class="box-car-price">
                <span>Current bid</span>
                <p class="box-car-item-price">$65,00</p>
              </div>
            </div>
          </div>

          <!-- Car -->
          <div class="box-car-item">
            <button class="btn-like"></button>
            <div class="box-car-slides"><img src="assets/images/carslide.png" alt="" /></div>
            <div class="list-area-pregressbar"><div class="progressbar" style="width: 16.2%;"></div></div>
            <div class="box-car-content">
              <div class="box-car-data">
                <p>
                  <span><strong>Time Left:</strong> <span>3HR. 7MIN</span></span>
                </p>
                <h3>1966 Shelby 427 Cobra</h3>
                <p><span>Atlanta - USA</span></p>
              </div>
              <div class="box-car-price">
                <span>Current bid</span>
                <p class="box-car-item-price">$65,00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
