.card-info {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #404040;
}

.payment-button {
    border-radius: 2px;
    background-color: #ffffff;
    padding: 9px 15px;
    font-size: 13px;
    font-weight: 600;
    color: #404040;
}

label {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #abb4bd;
}

.delete-btn {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-align: right;
    color: #f05b7a !important;
}

.delete-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.79;
    letter-spacing: 0.5px;
    color: #404040;
}

.modal-action-cancel {
    border: #abb4bd 1px solid;
    border-radius: 4px;
    background: none;
    color: #404040;
}

.modal-title {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    color: #404040;
}