<div id="breadcrumb-newcar">
  <nav>
    <ol>
      <li class="waiting-approval"><i class="icon ion-md-time"></i></li>
      <li>Payment</li>
      <li>Review</li>
      <li>Records</li>
      <li>Gallery</li>
      <li>Information</li>
      <li class="waiting-approval"><i class="icon ion-md-time"></i></li>
      <li class="active">Basic</li>
    </ol>
  </nav>
</div>
<section class="pt-5">
  <div class="container-add-listing pt-5">
    <h1 class="title-listing">Upload a few photos of your vehicle.</h1>
    <p class="text-inicial-listing pt-3">
      If we approve your submission, you will be asked to submit more photos.
    </p>

    <div class="box-area-newcar mt-5">
      <form action="" class="p-5" (ngSubmit)="submit(modalLoading)" novalidate>
        <ul class="box-upload-eventos" *ngIf="msgEvento.length > 0">
          <li *ngFor="let item of msgEvento"><span [innerHTML]="item"></span></li>
        </ul>
        <div criaturoDnd class="uploadimages form-row dropzone" (filesChangeEmiter)="onFilesChange($event)" (filesInvalidEmiter)="onFileInvalids($event)" (msgEventoEmiter)="onMsgEvento($event)"  [allowed_extensions]="allowed_extensions" >
          <ng-container *ngIf="fileList.length == 0">
            <img src="assets/images/icon-photo-upload.png" class="box-upload-image" />
            <h2>Drag and drop photos here</h2>
            <small>OR</small>
          </ng-container>
          <ng-container *ngIf="fileList.length > 0">
            <div class="thumb-group">
              <div class="thumb-box" *ngFor="let item of fileList; let i = index" [style.background-image]="makeTrustedImage('data:image/jpg;base64,'+item.content)" > 
                <button class="btn-erase" (click)="removeImage(i)"><img src="assets/images/icon-gallery-erase.jpg" /></button>
              </div>
            </div>
          </ng-container>
          <input type="file" accept="image/*" #file style="display:none"  (change)="uploadFiles($event)" multiple>
          <button class="  btn-upload-photo" (click)="file.click()" type="button">Select Files</button> 
        </div>

        <hr>
            <div class="col-12 form-car-bollets">
              <span></span>
              <span></span>
              <span class="active"></span>
            </div>

        <div class="form-row">
          <div class="col-6">
            <button type="button" (click)="goBack()" class="btn-back-style float-right" [disabled]="isLoading">
              <i class="mr-5 float-left icon ion-md-arrow-back"></i>
                Back
            </button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn-newcar-style float-right" [disabled]="isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i> Send to approval
              <i class="ml-5 float-right icon ion-md-arrow-forward"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<ng-template #modalLoading let-modal>
  <div id="modalLoading">
 
    <div class="modal-body">
      <div class="row">
             <h3>Processing</h3>
              <p>Uploading photos... Please wait!</p>
        </div> 
      </div>
    </div>
  </ng-template>
